name: Action CI

on:
  push:
    branches:
      - master

jobs:
  build:
    name: Build and Update Mappings
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Node.js 18
        uses: actions/setup-node@v3
        with:
          node-version: 18.12.1
      - name: Install Dependencies
        run: npm ci
      - name: Install Build Tool
        run: npm i -g @vercel/ncc
      - name: Build
        run: ncc build src/index.ts -o dist
      - name: Update Mappings
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Update mappings
          file_pattern: 'dist/*.js dist/*.js.map'
          commit_user_name: r2-action-bot[bot]
          commit_user_email: 118486773+r2-action-bot[bot]@users.noreply.github.com
          commit_author: r2-action-bot[bot] <118486773+r2-action-bot[bot]@users.noreply.github.com>