name: Action CI / Nix

on:
  pull_request:
    branches:
      - '*'

jobs:
  nix-shell-build:
    name: Build Nix Shell
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@v14
      - name: Magic Nix Cache
        uses: DeterminateSystems/magic-nix-cache-action@v8
      - name: Build
        run: nix-build shell.nix
