name: Action CI

on:
  pull_request_target:
    branches:
      - '*'

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    outputs:
      artifactId: ${{ steps.date.outputs.date }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Get current date
        id: date
        run: echo "::set-output name=date::$(date +'%Y-%m-%dT%H:%M:%S')"
      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: latest
          run_install: true
      - name: Setup Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: "pnpm"
      - name: Install Dependencies
        run: pnpm i --frozen-lockfile
      - name: Build
        run: pnpm run build
      - name: Upload Artifact
        with:
          name: r2-upload-action-${{ steps.date.outputs.date }}
          path: dist/

  upload:
    name: R2 Test / Upload
    
    strategy:
      matrix:
        os: ["ubuntu-latest", "macos-latest"]
        node-version: ["lts/*"]
    
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Download Artifact
        uses: actions/download-artifact@v4
        with:
          name: r2-upload-action-${{ needs.build.outputs.artifactId }}
          path: dist/
      - name: Get current date
        id: date
        run: echo "::set-output name=date::$(date +'%Y-%m-%dT%H:%M:%S')"
      - name: Create test file
        run: |
          mkdir tests/log
          echo Upload test - ${{ steps.date.outputs.date }} > "tests/log/upload-${{ steps.date.outputs.date }}"
      - name: Upload to R2
        uses: ./
        with:
          r2-account-id: ${{ secrets.TEST_R2_ACCOUNT_ID }}
          r2-access-key-id: ${{ secrets.TEST_R2_AKID }}
          r2-secret-access-key: ${{ secrets.TEST_R2_SECRET_AK }}
          r2-bucket: ${{ secrets.TEST_R2_BUCKET }}
          source-dir: tests/log
          destination-dir: r2-upload-action/test-logs
  
  upload-multiple:
    name: R2 Test / Upload Multiple
    needs: upload

    strategy:
      matrix:
        os: ["ubuntu-latest", "macos-latest"]
        node-version: ["lts/*"]
    
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Download Artifact
        uses: actions/download-artifact@v4
        with:
          name: r2-upload-action-${{ needs.build.outputs.artifactId }}
          path: dist/
      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: latest
          run_install: true
      - name: Setup Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: "pnpm"
      - name: Install Dependencies
        run: pnpm i --frozen-lockfile
      - name: Build
        run: pnpm run build
      - name: Get current date
        id: date
        run: echo "::set-output name=date::$(date +'%Y-%m-%dT%H:%M:%S')"
      - name: Create test file
        run: |
          mkdir tests/log
          echo Upload test - ${{ steps.date.outputs.date }} - File 1 > "tests/log/upload-${{ steps.date.outputs.date }}-file1"
          echo Upload test - ${{ steps.date.outputs.date }} - File 2 > "tests/log/upload-${{ steps.date.outputs.date }}-file2"
          mkdir tests/log2
          echo Upload test - ${{ steps.date.outputs.date }} - File 3 > "tests/log2/upload-${{ steps.date.outputs.date }}-file3"
          echo Upload test - ${{ steps.date.outputs.date }} - File 4 > "tests/log2/upload-${{ steps.date.outputs.date }}-file4"
      - name: Upload to R2
        uses: ./
        with:
          r2-account-id: ${{ secrets.TEST_R2_ACCOUNT_ID }}
          r2-access-key-id: ${{ secrets.TEST_R2_AKID }}
          r2-secret-access-key: ${{ secrets.TEST_R2_SECRET_AK }}
          r2-bucket: ${{ secrets.TEST_R2_BUCKET }}
          source-dir: |
            tests/log/upload-${{ steps.date.outputs.date }}-file1
            tests/log/upload-${{ steps.date.outputs.date }}-file2
            tests/log2
            tests/dir
          destination-dir: r2-upload-action/test-logs